[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

arcade = "*"
numpy = "*"
pyglet-ffmpeg = "*"
pydbg = "*"
vectormath = "*"


[dev-packages]

mypy = "*"
profilehooks = "*"


[requires]

python_version = "3.6"


[pipenv]

allow_prereleases = true